<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>User Dashboard</h1>

        <p>Welcome <b>{{user_first_name}}</b>. This is your Dashboard!</p>
        <p><a href="{% url 'marvel:logout' %}">Logout</a></p>

        <p>My Characters</p>
        {% for item in my_characters%}
            <ul>
                <li>{{ item.character.char_name }}</li>
                <li><img src="{{ item.character.image_url }}" style="width:100px"></li>
            </ul>
        {% endfor %}

        <p>Search for a Marvel Character</p>
        <form action="{% url 'marvel:search_character' %}" method="post">
            {% csrf_token %}
            {{ form_search }}
            <input type="submit" value="Submit">
        </form>
        <p>{{ errormessage }}</p>

        {% if not errormessage %}
            {% for item in search_result %}
            <div style='border: black 2px solid'>
            <ul>
                <img src='{{ item.image }}' style="width:80px"/>
                <li>Name: {{ item.name }}</li>
                <li><p>Description: {{ item.description }}</p></li>
                <li><p>Total commics avaliable: {{ item.comics_available }}</p></li>
                <li><p>Comics list (first 20)</li>
                <ul>
                {% for comics in item.comics_list%}
                    <li>{{ comics }}</li>
                {% endfor %}
                </ul>
                <li><p>Resources</li>
                <ul>
                {% for res in item.resources%}
                    <li><a href='{{res.url}}' target='_blank'>{{ res.type }}</a></li>
                {% endfor %}
                </ul>
            </ul>
            <form action="{% url 'marvel:add_character' %}" method="post">
                {% csrf_token %}
                <input type="text" id="char_name" name="char_name" value="{{ item.name }}" />
                <input type="text" id="char_id" name="char_id" value="{{ item.external_id }}" />
                <input type="text" id="char_external_url" name="char_external_url" value="{{ item.external_id }}" />
                <input type="text" id="image_url" name="image_url" value="{{ item.image }}" />

                <input type="submit" value="Add {{ item.name }} do My Characters">
            </form>
            </div>
            {% endfor %}
        {% endif %}
    </body>
</html>