{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Marvel Dashboard Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "marvel/assets/css/main.css" %}" />
	</head>
	<body id="top">

        <section id="banner" style="" data-video="image/banner">
            <div class="inner">
                <header>
                    <h1>Login</h1>
                    {% if errormessage %}{{ errormessage }}{% endif %}
                    <form action="{% url 'marvel:home_login' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br/>
                        <input type="submit" value="Submit">
                    </form>                    
                </header>
            </div>
        </section>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
                        <h4>Make a Awesome Marvel Collection --Using Django</h4>
					</div>
				</footer>
		<!-- Scripts -->
			<script src='{% static "marvel/assets/js/jquery.min.js" %}'></script>
			<script src='{% static "marvel/assets/js/jquery.scrolly.min.js" %}'></script>
			<script src='{% static "marvel/assets/js/jquery.poptrox.min.js" %}'></script>
			<script src='{% static "marvel/assets/js/skel.min.js" %}'></script>
			<script src='{% static "marvel/assets/js/util.js" %}'></script>
			<script src='{% static "marvel/assets/js/main.js" %}'></script>

	</body>
</html>